<div class="jmbotron mt-4">
    <h1 class="display-4">Dice Game Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut pariatur obcaecati illum perferendis voluptatibus quisquam.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum obcaecati perspiciatis eaque dolor, ea eveniet impedit corrupti doloremque, vitae reprehenderit, excepturi maiores consequuntur expedita ipsa.</p>
</div>