<div class="jmbotron mt-4">
    <h1 class="display-4">Dice Game Nodejs and Mongodb</h1>
    <h2 class="lead">Este juego indica el ganador, de acuerdo a un numero al azar del 1 al 12</h2>
    <hr class="my-4">
    <h3> Intrucciones</h3>
    <p>1. Dirigirse a "Create" en la barra superior para crear el juego, agragando el nombre de cada jugador y darle click en continuar.</p>
    <p>2. Luego de que el juego lo redirija a la página de juegos creados, darle click en iniciar.</p>
    <p>3. Ingresar la apuesta del número que este dentro del rango del total al lanzar dos dados, es decir, apostar con un número del 1 al 12</p>
    <p>4. Espere a que el juego arroje el ganador.</p>

    <h4>¡Buena Suerte!</h4>
</div>