body {
  background: pink;
}

h1 {
  color: black;
}

h2 {
    color: white;
}

h3 {
    color: black;
}

p {
  color: black;
}

hr {
  color: gray;
}

.startButton {
  color: black;
}

.card {
  background: white;
}
